@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
 
nav{
    background: black;
    display: flex;
    height: 10vh;
    padding: 6px 30px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    position: sticky;
    font-family: 'Lato', sans-serif;
    top:0px;
}



nav ul{
    height: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
}

nav ul li{
    list-style: none; 
    padding: 0 23px;
    font-family: 'Lato', sans-serif;
}

 a{
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;

    font-family: 'Lato', sans-serif;
}
.btn{
    display:flex;
    justify-content: space-between;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;


}
.btn1{
    padding: 10px;
    margin: 2px;
    font-family: 'Lato', sans-serif;
}

.login{
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px;
    font-family: 'Lato', sans-serif;
}
.login-box{
    border:2px solid black;
    background-color: rgba(179, 187, 199, 0.5);
    width:400px;
    height: fit-content;
    padding:40px;
    border-radius:20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    font-family: 'Lato', sans-serif;
}
.login-box h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.userbox{
    font-size: large;
    font-family: 'Lato', sans-serif;
}
.form-layout{
    background:transparent;
    border:none;
    border-bottom:1px solid rgba(179, 187, 199, 0.5);
    width: 100%;
    padding:10px 5px;
    font-family: 'Lato', sans-serif;
    


}
button{
    background-color:dodgerblue;
    font-size: 13px;
    margin:6px;
    padding:4px;
    border:1px solid grey;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
}
.footer{
    display:flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    padding:20px
}
.container-link{
    display:flex;
    width:400px;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}
hr{
    width:50%;
    height:3px;
    background-color: black;
    font-family: 'Lato', sans-serif;
}